name: STM32 Compilation Check

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install ARM Toolchain
        uses: carlosperate/arm-none-eabi-gcc-action@v1
        with:
          release: '12.2.Rel1' # Version du compilateur

      - name: Install Ninja & CMake
        run: sudo apt-get install -y ninja-build cmake

      - name: Configure CMake
        # On utilise Ninja car c'est plus rapide en CI
        run: cmake -B build -G Ninja -DCMAKE_TOOLCHAIN_FILE=cmake/stm32cubemx/gcc-arm-none-eabi.cmake

      - name: Build
        run: cmake --build build
